{% include 'image_space_app/partials/_pagination.html' %}
<div class="row">
  {% for picture in pictures %}
    {% if picture.picture %}
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <a href="{% url 'picture_details' picture.id %}">
          <img src="{{ picture.picture.url }}" alt="..." class="img-responsive">
          </a>
          <div class="caption">
            <h3>{{ picture.title }}</h3>
            <div class="btn-group">
              {% if user.is_authenticated %}
                {% if picture in user.userpicture_set.all %}
                  <a href="{% url 'picture_edit' picture.id %}">
                    <button class="btn btn-primary" role="button">Edit</button>
                  </a>
                  <form class="form-inline" action="{% url 'change_picture' picture.id %}" method="post">
                  {% csrf_token %}
                    <button class="btn btn-default" role="button">Profile</button>
                  </form>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% include 'image_space_app/partials/_pagination.html' %}